<h1 id="login-title">ログインしてください</h1>

<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>

<%= form_with url: oauth_login_path, method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.hidden_field :challenge, value: @challenge %>
  
  <table>
    <tr>
      <td>
        <%= form.email_field :email, placeholder: "email@example.com", value: @hint, required: true %>
      </td>
      <td>メールアドレス</td>
    </tr>
    <tr>
      <td>
        <%= form.password_field :password, required: true %>
      </td>
      <td>パスワード</td>
    </tr>
  </table>
  
  <div>
    <%= form.check_box :remember, value: "1" %>
    <%= form.label :remember, "ログインを記憶する" %>
  </div>
  
  <br>
  
  <div>
    <%= form.submit "ログイン", name: :submit %>
    <%= form.submit "アクセスを拒否", name: :submit %>
  </div>
<% end %>