<h1>アプリケーションがあなたのデータへのアクセスを要求しています</h1>

<%= form_with url: oauth_consent_path, method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.hidden_field :challenge, value: @challenge %>


  <p>
    こんにちは <%= @consent_request['subject'] %> さん、アプリケーション
    <strong><%= @consent_request.dig('client', 'client_name') || @consent_request.dig('client', 'client_id') %></strong>
    があなたの代わりにリソースへのアクセスを要求しています：
  </p>

  <% @consent_request['requested_scope']&.each do |scope| %>
    <div>
      <%= check_box_tag 'grant_scope[]', scope, true, id: scope, class: 'grant_scope' %>
      <%= label_tag scope, scope %>
    </div>
  <% end %>

  <p>
    このアプリケーションが次回データにアクセスする際に再度確認しますか？アプリケーションは
    あなたの同意なしに追加の権限を要求することはできません。
  </p>

  <div>
    <%= form.check_box :remember, value: "1" %>
    <%= form.label :remember, "次回から確認しない" %>
  </div>

  <div>
    <%= form.submit "アクセスを許可", name: :submit %>
    <%= form.submit "アクセスを拒否", name: :submit %>
  </div>
<% end %>
